[submodule "rdiff-backup"]
	path = rdiff-backup
	url = https://github.com/rdiff-backup/rdiff-backup.git
[submodule "librsync"]
	path = librsync
	url = https://github.com/librsync/librsync
	tag = 2.2.1
