[submodule "rdiff-backup"]
	path = rdiff-backup
	url = https://github.com/ardovm/rdiff-backup.git
	branch = makedist
[submodule "librsync"]
	path = librsync
	url = https://github.com/librsync/librsync
	tag = 2.2.1
